{% extends 'base.html' %}

{% block content %}

<div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto;">
</div>
<br>
<div class="panel panel-default">
    <div id="chart_panel" class="panel-body" 
        style="width:100%;height:314px">
    </div>
</div>
<br>
<div class="panel panel-default">
    <div id="chart_panel2" class="panel-body" 
        style="width:100%;height:314px">
    </div>
</div>
<br>
<div id="chart-container"></div>

<script type="text/javascript">

var chart,
    chart2,
    chart3;

function requestTemperatureData() {
    var chartDataUrl = "{% url 'chart_data_json' %}" + '?name=admission_temperature';
    $.getJSON(chartDataUrl,
    function(data) {

        chart.series[0].addPoint([new Date().getTime(), data[0]], true, false);
        chart.series[1].addPoint([new Date().getTime(), data[1]], true, false);  

    });

    setTimeout(requestTemperatureData, 1000);
}

function requestFuelData() {
    var chartDataUrl = "{% url 'chart_data_json' %}" + '?name=fuel_comsumption';
    $.getJSON(chartDataUrl,
    function(data) {

        chart2.series[0].addPoint([new Date().getTime(), data], true, false);  

    });

    setTimeout(requestFuelData, 1000);
}

$(document).ready(function() {

    $.get( "{% url 'data_from_sensors' %}", function() {
      console.log("sucess");
    })

   chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_panel',
            defaultSeriesType: 'spline',
            events: {
                load: requestTemperatureData
            }
        },
        title: {
            text: 'Temperatura Arrefecimento X Tempo'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            title: {text: null}, 
            labels: {rotation: -45}
        },
        series: [{
            name: 'Temperatura Entrada Arrefecimento',
            data: []
        }, {
            name: 'Temperatura Saída Arrefecimento',
            data: []
        }]

    });


   chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_panel2',
            defaultSeriesType: 'spline',
            events: {
                load: requestFuelData
            }
        },
        title: {
            text: 'Consumo de Combustível X Tempo'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            title: {text: null}, 
            labels: {rotation: -45}
        },
        series: [{
            name: 'Consumo em L/min',
            data: []
        }]
    });

} );




Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'Medidor de RPM'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 8,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'RPM x1000'
        },
        plotBands: [{
            from: 0,
            to: 5,
            color: '#55BF3B' // green
        }, {
            from: 5,
            to: 7,
            color: '#DDDF0D' // yellow
        }, {
            from: 7,
            to: 8,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'RPM',
        data: [1],
        tooltip: {
            valueSuffix: ' x1000'
        }
    }]

},

function (chart) {

    var newVal;

    if (!chart.renderer.forExport) {
        setInterval(function () {
            var point = chart.series[0].points[0],
                chartDataUrl = "{% url 'chart_data_json' %}" + '?name=rpm_sensor';

                $.getJSON(chartDataUrl,
                function(data) {

                    newVal = data  

                });

            point.update(newVal);

        }, 1000);
    }
});


  FusionCharts.ready(function(){
    var fusioncharts = new FusionCharts({
    type: 'thermometer',
    renderAt: 'chart-container',
    id: 'myThm',
    width: '240',
    height: '310',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Temperatura do motor",
           // "subcaption": " Central cold store",
            "lowerLimit": "-10",
            "upperLimit": "0",

            "decimals": "1",
            "numberSuffix": "°C",
            "showhovereffect": "1",
            "thmFillColor": "#008ee4",
            "showGaugeBorder": "1",
            "gaugeBorderColor": "#008ee4",
            "gaugeBorderThickness": "2",
            "gaugeBorderAlpha": "30",
            "thmOriginX": "100",
            "chartBottomMargin": "20",
            "valueFontColor": "#000000",
            "theme": "fint"
        },
        "value": "-6",
        //All annotations are grouped under this element
        "annotations": {
            "showbelow": "0",
            "groups": [{
                //Each group needs a unique ID
                "id": "indicator",
                "items": [
                    //Showing Annotation
                    {
                        "id": "background",
                        //Rectangle item
                        "type": "rectangle",
                        "alpha": "50",
                        "fillColor": "#AABBCC",
                        "x": "$gaugeEndX-40",
                        "tox": "$gaugeEndX",
                        "y": "$gaugeEndY+54",
                        "toy": "$gaugeEndY+72"
                    }
                ]
            }]

        },
    },
    "events": {
        "initialized": function(evt, arg) {
            var value;
            evt.sender.dataUpdate = setInterval(function() {
                var chartDataUrl = "{% url 'chart_data_json' %}" + '?name=tmp_sensor';
                
                $.getJSON(chartDataUrl,
                function(data) {

                    value = data;  

                });

                evt.sender.feedData("&value=" + value);

            }, 1000);
            updateAnnotation = function(evtObj, argObj) {
                var code,
                    chartObj = evtObj.sender,
                    val = chartObj.getData(),
                    annotations = chartObj.annotations;

                if (val >= -4.5) {
                    code = "#00FF00";
                } else if (val < -4.5 && val > -6) {
                    code = "#ff9900";
                } else {
                    code = "#ff0000";
                }
                annotations.update("background", {
                    "fillColor": code
                });
            };
        },
        'renderComplete': function(evt, arg) {
            updateAnnotation(evt, arg);
        },
        'realtimeUpdateComplete': function(evt, arg) {
            updateAnnotation(evt, arg);
        },
        'disposed': function(evt, arg) {
            clearInterval(evt.sender.dataUpdate);
        }
    }
}

);
    fusioncharts.render();
});

</script>



{% endblock content %}