{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <div class="panel panel-default">
                    <div id="chart_panel3" class="panel-body" 
                        style="width:100%;height:314px">
                    </div>
                </div>
           </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                <div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto;">
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
              <div id="container1"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="#" class="thumbnail">
                <div class="panel panel-default">
                    <div id="chart_panel" class="panel-body" 
                        style="width:100%;height:314px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="#" class="thumbnail">
                <div class="panel panel-default">
                    <div id="chart_panel2" class="panel-body" 
                        style="width:100%;height:314px">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <p class="lead">
                <a href="{% url 'previousTests' %}" class="btn btn-primary btn-lg">Acelerar Motor</a>
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
            <p class="lead">
                <a href="{% url 'previousTests' %}" class="btn btn-warning btn-lg">Desacelerar Motor</a>
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
            <p class="lead">
                <a href="{% url 'previousTests' %}" class="btn btn-default btn-lg">Desacelerar Tudo</a>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <p class="lead">
        <a href="{% url 'previousTests' %}" class="btn btn-danger btn-lg">Encerrar Análise</a>
    </p>
</div>

<script type="text/javascript">

var chart,
    chart2,
    chart3;

function requestTemperatureData() {
    var chartDataUrl = "{% url 'chart_data_json' %}" + '?name=admission_temperature';
    $.getJSON(chartDataUrl,
    function(data) {

        chart.series[0].addPoint([new Date().getTime(), data[0]], true, false);
        chart.series[1].addPoint([new Date().getTime(), data[1]], true, false);  

    });

    setTimeout(requestTemperatureData, 1000);
}

function requestFuelData() {
    var chartDataUrl = "{% url 'chart_data_json' %}" + '?name=fuel_comsumption';
    $.getJSON(chartDataUrl,
    function(data) {

        chart2.series[0].addPoint([new Date().getTime(), data], true, false);  

    });

    setTimeout(requestFuelData, 1000);
}

function requestAirComsumptionData() {
    var chartDataUrl = "{% url 'chart_data_json' %}" + '?name=pressure_sensor';
    $.getJSON(chartDataUrl,
    function(data) {

        chart3.series[0].addPoint([new Date().getTime(), data], true, false);  

    });

    setTimeout(requestAirComsumptionData, 1000);
}


$(document).ready(function() {

    $.get( "{% url 'data_from_sensors' %}", function() {
      console.log("sucess");
    })

   chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_panel',
            defaultSeriesType: 'spline',
            events: {
                load: requestTemperatureData
            }
        },
        title: {
            text: 'Temperatura Arrefecimento X Tempo'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            title: {text: null}, 
            labels: {rotation: -45}
        },
        series: [{
            name: 'Temperatura Entrada Arrefecimento',
            data: []
        }, {
            name: 'Temperatura Saída Arrefecimento',
            data: []
        }]

    });

   chart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_panel2',
            defaultSeriesType: 'spline',
            events: {
                load: requestFuelData
            }
        },
        title: {
            text: 'Consumo de Combustível X Tempo'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            title: {text: null}, 
            labels: {rotation: -45}
        },
        series: [{
            name: 'Consumo em L/min',
            data: []
        }]
    });

   chart3 = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_panel3',
            defaultSeriesType: 'spline',
            events: {
                load: requestAirComsumptionData
            }
        },
        title: {
            text: 'Consumo de ar'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            title: {text: null}, 
            labels: {rotation: -45}
        },
        series: [{
            name: 'Consumo em Kg/h',
            data: []
        }]
    });

} );


Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'Medidor de RPM'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 8,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'RPM x1000'
        },
        plotBands: [{
            from: 0,
            to: 5,
            color: '#55BF3B' // green
        }, {
            from: 5,
            to: 7,
            color: '#DDDF0D' // yellow
        }, {
            from: 7,
            to: 8,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'RPM',
        data: [1],
        tooltip: {
            valueSuffix: ' x1000'
        }
    }]

},

function (chart) {

    var newVal;

    if (!chart.renderer.forExport) {
        setInterval(function () {
            var point = chart.series[0].points[0],
                chartDataUrl = "{% url 'chart_data_json' %}" + '?name=rpm_sensor';

                $.getJSON(chartDataUrl,
                function(data) {

                    newVal = data  

                });

            point.update(newVal);

        }, 1000);
    }
});

//var chartDataUrl = "{% url 'chart_data_json' %}" + '?name=tmp_sensor';
$('#container1').highcharts({
    chart: {
        marginBottom: 50
    },
    series: [{
        data: [12],
        type: 'column',
        pointWidth: 20,
        threshold: -40,
        borderWidth: 0,
        name: 'Temp'
    }],
    credits: {
        enabled: false
    },
    legend: {
        enabled: false
    },
    xAxis: {
        title: {
            text: 'ºC'
        },
        labels: {
            enabled: false
        },
        lineWidth: 0,
        tickWidth: 0
    },
    yAxis: {
        min: 0,
        max: 400,
        minPadding: 0,
        maxPadding: 0,
        startOnTick: false,
        endOnTick: false,
        title: {
            text: 'Temperatura em ºC'
        },
        tickInterval: 5,
        minorTickInterval: 1,
        gridLineWidth: 0,
        minorGridLineWidth: 0,
        tickWidth: 1,
        minorTickWidth: 1
    },
    title: {
        text: 'Temperatura do escapamento'
    }

}, function (chart) {
    // Draw the shape
    var series;
    chart.series[0],
        point = series.points[0],
        radius = 20;
    chart.renderer.circle(
        chart.plotLeft + point.shapeArgs.x + (point.shapeArgs.width / 2), 
        chart.plotTop + series.yAxis.len + radius - 5, 
        20
    )
    .attr({
        fill: series.color
    })
    .add();
    
});


</script>



{% endblock content %}