{% extends 'base.html' %}

{% block content %}

  <div class="panel panel-default">
        <div id="chart_panel" class="panel-body" 
            style="width:100%;height:314px"></div>
</div>

<script type="text/javascript">

var chart;

function requestData() {
    var chartDataUrl = "{% url 'chart_data_json' %}";
    $.getJSON(chartDataUrl,
    function(data) {

        chart.series[0].addPoint([new Date().getTime(), data], true, false);  

    });

    setTimeout(requestData, 1000);
}

$(document).ready(function() {

    $.get( "{% url 'data_from_sensors' %}", function() {
      console.log("sucess");
    })

   chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_panel',
            defaultSeriesType: 'spline',
            events: {
                load: requestData
            }
        },
        title: {
            text: 'Sensores de Temperatura X Tempo'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            title: {text: null}, 
            labels: {rotation: -45}
        },
        series: [{
            name: 'Temperatura em Cº',
            data: []
        }]
    });

} );
</script>



{% endblock content %}