{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="inner cover">
      <h1 class="cover-heading">Análises Anteriores</h1>
      {% if ensaios %}
        <p class="lead">
          A tabela abaixo apresenta as análises de seus ensaios anteriores realizadas nesta bancada.
          <br>
          Para acessar mais informações a respeito de determinado teste clique no identificador correspondente.
        </p>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>id</th>
                <th>Descrição</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% for ensaio in ensaios %}
                <tr>
                  <th> <a href="{% url 'reports' %}?id={{ ensaio.id }}&descricao={{ ensaio.descricao }}&dateBenchTest={{ ensaio.dateBenchTest }}" >{{ ensaio.id }}</a></th>
                  <th> {{ ensaio.descricao}}</th>
                  <th> {{ ensaio.dateBenchTest }}</th>
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p class="lead">Você não realizou nenhum teste até o momento.</p>
      {% endif %}
      
      <p class="lead">
        <a href="{% url 'startEngine' %}" class="btn btn-success btn-lg">Iniciar Análise</a>
      </p>
    </div>
  </div>

<table>

</table>

{% endblock content %}